<h1>Forecastr</h1>
<p>Enter your address below to see a weather forecast for your area</p>

<%= form_with scope: :address, local: true do |form| %>
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address, placeholder: "1725 Slough Avenue, Scranton, PA 18503"  %>
  </p>
  <p>
    <%= form.submit :get_weather %>
  </p>
<% end %>